In [4]:
import pandas as pd
import pymysql

In [5]:
df = pd.read_csv(r'C:\Users\avvij\AppData\Local\Temp\RED BUS\Final_df.csv')
df

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,Sri KVR Travels,A/C Sleeper (2+1),23:35,05:15,05:40:00,560.0,13,4.6,https://www.redbus.in/bus-tickets/hyderabad-to...,Hyderabad to Vijayawada
1,FRESHBUS,Electric A/C Seater (2+2),23:10,05:35,06:25:00,450.0,28,4.5,https://www.redbus.in/bus-tickets/hyderabad-to...,Hyderabad to Vijayawada
2,IntrCity SmartBus,A/C Seater / Sleeper (2+1),23:50,05:35,05:45:00,433.0,20,4.4,https://www.redbus.in/bus-tickets/hyderabad-to...,Hyderabad to Vijayawada
3,AdSri Durga Malleswari Travels,A/C Sleeper (2+1),23:10,04:35,05:25:00,665.0,17,4.0,https://www.redbus.in/bus-tickets/hyderabad-to...,Hyderabad to Vijayawada
4,IntrCity SmartBus,Scania AC Multi Axle Sleeper (2+1),23:59,06:30,06:31:00,595.0,16,4.5,https://www.redbus.in/bus-tickets/hyderabad-to...,Hyderabad to Vijayawada
...,...,...,...,...,...,...,...,...,...,...
13445,Betrwanti Travels,A/C Sleeper (2+1),07:50,09:50,02:00:00,800.0,20,2.7,https://www.redbus.in/bus-tickets/kanpur-to-lu...,Kanpur (Uttar Pradesh) to Lucknow
13446,Betrwanti Travels,A/C Sleeper (2+1),08:30,10:45,02:15:00,1200.0,36,2.7,https://www.redbus.in/bus-tickets/kanpur-to-lu...,Kanpur (Uttar Pradesh) to Lucknow
13447,MISHRA BANDHU BUS SERVICE,A/C Seater / Sleeper (2+1),18:30,21:30,03:00:00,1500.0,33,2.2,https://www.redbus.in/bus-tickets/kanpur-to-lu...,Kanpur (Uttar Pradesh) to Lucknow
13448,KANAHAIYA TOUR & TRAVELS,A/C Seater (2+3),19:00,23:00,04:00:00,3000.0,36,0.0,https://www.redbus.in/bus-tickets/kanpur-to-lu...,Kanpur (Uttar Pradesh) to Lucknow
13449,Singh Tour & Travels,AC Seater (2+2),20:30,23:00,02:30:00,999.0,19,2.5,https://www.redbus.in/bus-tickets/kanpur-to-lu...,Kanpur (Uttar Pradesh) to Lucknow

In [6]:
import mysql.connector

In [7]:
#sql connection
conn=pymysql.connect(
    host="localhost",
    user="root",
    password="rostervii123", 
    database="PROJECTS"
    
)
    
print("connection successfull")
my_cursor = conn.cursor()

connection successfull

In [9]:
   # Execute the SQL command to create a table
my_cursor.execute('''CREATE TABLE  REDBUS (
                          ID INT AUTO_INCREMENT PRIMARY KEY,
                          Bus_name TEXT,
                          Bus_type TEXT,
                          Start_time TIME,
                          End_time TIME,
                          Total_duration TEXT,
                          Price FLOAT,
                          Seats_Available INT,
                          Ratings FLOAT,
                          Route_link TEXT,
                          Route_name TEXT
                        )''')
print("Table created successfully!")

Table created successfully!

In [10]:
# SQL query to insert data into  table
insert_query = '''INSERT INTO REDBUS(
                    Bus_name,
                    Bus_type,
                    Start_time,
                    End_time,
                    Total_duration,
                    Price,
                    Seats_Available,
                    Ratings,
                    Route_link,
                    Route_name)
                  VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''
data = df.values.tolist()

my_cursor.executemany(insert_query, data)

conn.commit()

print("Values inserted successfully")

Values inserted successfully